<script>
$(document).ready(function() {
  const expandSelector = "p:contains('[expand]')";
  const collapseSelector = "p:contains('[/expand]')";
  const expandClass = "expandable-content";
  const readMoreLinkClass = "read-more-link";
  const readMoreText = "read more →";
  const ellipsis = "... ";

  $(expandSelector).each(function() {
    const $startTag = $(this);
    const $endTag = $startTag.nextUntil(collapseSelector);

    $endTag.wrapAll(`<div class="${expandClass}" style="overflow: auto; display: none;"></div>`);

    $startTag.append(
      `<span class="${readMoreLinkClass}" style="cursor: pointer;">${ellipsis}<a href="#">${readMoreText}</a></span>`
    );
    $startTag.find(`.${readMoreLinkClass} a`).on("click", function(e) {
      e.preventDefault(); // Prevent default link behavior
      $(this).closest(`.${expandClass}`).slideToggle();
      $(this).parent().hide();
    });

    $startTag.remove();
  });

  $(collapseSelector).hide();
});
</script>
