<style>
.image-gallery-index {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1%;
  overflow: hidden;
  padding: 0;
  list-style: none;
}

.image-gallery-index a {
  flex: 0 0 24%;
  margin: 0 0 1% 1%;
  display: flex; /* Use flexbox for vertical alignment */
  flex-direction: column;
  align-items: center;
  text-decoration: none !important;
  width: 100%;
  height: 100%;
}

.image-gallery-index a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  aspect-ratio: 1;
}

.image-gallery-index a span {
  display: block;
  text-align: center;
  padding: 3px 0;
  font-size: 0.9em;
  word-wrap: break-word; /* handle long titles */
}

@media (max-width: 800px) {
  .image-gallery-index a {
    flex: 0 0 32.33%;
  }
}

@media (max-width: 480px) {
  .image-gallery-index a {
    flex: 0 0 49%;
  }
}
</style>

<div class="image-gallery-index">
  {% for item in page.galleries %}
    <a href="{{ item.url }}" title="{{ item.title }}">
      <img
        src="//images.weserv.nl/?url={{ site.url | replace: 'http://', '' | replace: 'https://', '' }}{{ item.image }}&w=300&h=300&output=jpg&q=50&t=square"
        alt="{{ item.title }}"
      />
      <span>{{ item.title }}</span>
    </a>
  {% endfor %}
</div>
