<script>
  function openExternalLinksInNewWindow() {
    const links = document.querySelectorAll('a');

    links.forEach((link) => {
      if (link.href && link.hostname !== window.location.hostname) {
        link.target = '_blank';
        link.rel = 'noopener noreferrer';
      }
    });
  }

  function openFileLinksInNewWindow() {
    const links = document.querySelectorAll('a');
    const fileExtensions = ['.pdf', '.doc', '.docx'];

    links.forEach((link) => {
      const linkHref = link.href.toLowerCase();
      if (fileExtensions.some((extension) => linkHref.includes(extension))) {
        link.addEventListener('click', (event) => {
          event.preventDefault();
          window.open(link.href, '_blank', 'noopener noreferrer');
        });
      }
    });
  }

  // Execute functions
  openFileLinksInNewWindow();
  openExternalLinksInNewWindow();
</script>