{% if include.transition == 'fade' %}
<style>
  .carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
  }

  .carousel-fade .carousel-item.active {
    opacity: 1;
  }
</style>
{% endif %}

<div id="myCarousel" class="carousel slide{% if include.transition == 'fade' %} carousel-fade{% endif %}" data-ride="carousel" data-interval="{{ include.duration | default: 5 }}000" aria-label="Image Carousel">
  <ol class="carousel-indicators">
    {% for item in page.slider.slides %}
      <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}"{% if forloop.first %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <div class="carousel-inner">
    {% for item in page.slider.slides %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}" style="background: url('//images.weserv.nl/?url={{ site.url | replace: 'https://','' | replace: 'http://','' }}{{ item.image }}&w={{ include.image_width | default: 1200 }}&h={{ include.image_height | default: 600 }}&output=jpg&q=50&t=square') center center no-repeat; background-size: cover;">
        <div class="carousel-caption">
          {{ item.slide_html }}
        </div>
      </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev" aria-label="Previous">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next" aria-label="Next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<style>
  #myCarousel .carousel-item {
    width: 100%;
    {% if include.unit == '%' %}padding-bottom: {{ include.height }}%;{% endif %}
    {% if include.unit == 'px' %}height: {{ include.height }}px;{% endif %}
  }

  #myCarousel .carousel-caption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: {{ page.slider.text_color | default: '#fff' }};
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 40px {{ page.slider.shadow_color | default: '#000' }};
    font-size: 15px;
    white-space: nowrap;
  }

  #myCarousel .carousel-caption h3 {
    font-size: 30px;
    margin-top: 7px;
  }

  #myCarousel .carousel-control-prev-icon,
  #myCarousel .carousel-control-next-icon {
    font-size: 60px;
    height: 60px;
    line-height: 50px;
  }

  #myCarousel .carousel-control-prev,
  #myCarousel .carousel-control-next {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    min-width: 60px;
  }

  #myCarousel:hover .carousel-control-prev,
  #myCarousel:hover .carousel-control-next {
    opacity: 1;
  }

  #myCarousel .carousel-indicators {
    bottom: 0;
    margin-bottom: 12px;
  }

  #myCarousel .carousel-control-prev,
  #myCarousel .carousel-control-next {
    background: none;
  }

  #myCarousel .carousel-control-prev {
    text-align: left;
  }

  #myCarousel .carousel-control-next {
    text-align: right;
  }
</style>