<style>
.expand {
    display: none;
    height: 0;
    overflow: hidden;
}

.read-more-link {
    cursor: pointer;
}

.read-more-container {
    display: inline;
}

</style>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const expandTags = document.querySelectorAll('p');

        expandTags.forEach((p) => {
            if (p.innerHTML === '[expand]') {
                const parentContent = p.parentNode.innerHTML
                    .replace('<p>[expand]</p>', '<div class="expand">')
                    .replace('<p>[/expand]</p>', '</div>');
                p.parentNode.innerHTML = parentContent;
            }
        });

        const expandDivs = document.querySelectorAll('div.expand');

        expandDivs.forEach((div) => {
            const previousParagraph = div.previousElementSibling;
            if (previousParagraph) {
                previousParagraph.innerHTML += `<span class="read-more-container">... <a href="#" aria-expanded="false" class="read-more-link">read more &rarr;</a></span>`;

                const readMoreLink = previousParagraph.querySelector('.read-more-link');
                if(readMoreLink){
                  readMoreLink.addEventListener('click', (event) => {
                      event.preventDefault();
                      div.style.display = 'block';
                      div.style.height = 'auto';
                      previousParagraph.querySelector('.read-more-container').style.display = 'none';
                      readMoreLink.setAttribute('aria-expanded', 'true');
                  });
                }
            }
        });
    });
</script>