{% include header.html %}
        <div class="col-md-8"><br /><br />
            <article class="post noselect">
                {{ content }}
            </article>
        </div>
        <div class="col-md-1"></div>
		<div class="col-md-3"><br /><br /><br /><br />
            <h3 style="color:#0D2436">Latest Blogs</h3><br/>
            <ul>
                {% for item in site.posts limit:5 %}
                <ul><li><a href="{{ item.url }}">{{ item.title }}</a></li></ul>
                {% endfor %}
            </ul>
        </div>
{% include footer.html %}
