{% include header.html %}
<div class="col-md-8">
  <article class="post page">
    <header class="post-header">
      {% include breadcrumbs.html %}
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <h3 class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
        {% if page.author %}
          •
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        {% endif %}
      </h3>
    </header>
    <span class="reading-time">{% include reading-time.html %}</span>
    <div class="post-content noselect">
      <div class="content-spacing">
        {{ content }}
      </div>
      <div class="share-buttons-container">
        {% include share-buttons.html %}
      </div>
      <div id="back-link"></div>
    </div>
  </article>
</div>
{% include footer.html %}

<style>
.share-buttons-container {
    margin-top: 20px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

.content-spacing {
    margin-top: 30px; /* Adjust as needed */
    margin-bottom: 30px; /* Adjust as needed */
}

.back-link {
    margin-top: 20px; /* Adjust as needed */
    display: block; /* Ensure the link is on its own line */
}

/* Add any other necessary styles for spacing */
</style>

 <script>
    window.onload = function() {
      var referrer = document.referrer;
      if (referrer) {
        var backLink = document.getElementById('back-link');
        backLink.innerHTML = '<a href="' + referrer + '">&larr; Back</a>';
      }
    };
  </script>