{% include header.html %}
<div class="col-md-8">
		<article class="post page">
        <header class="post-header">
            {% include breadcrumbs.html %}
            <h1 class="post-title">{{ page.title }}</h1>
        </header>
        <div class="post-content noselect">
            {{ content }}
                <ul>
                    {% assign site-notes = site.notes | sort: 'title' %}
                    {% for item in site-notes %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul><br />
        </div>
    </article>
</div>
{% include footer.html %}