{% include header.html %}
<div class="col-md-8">
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
      {% include breadcrumbs.html %}
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <h3 class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: "%b %-d, %Y" }}
        </time>
        {% if page.author %}
          •
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">{{ page.author }}</span>
          </span>
        {% endif %}
      </h3>
    </header>
    <span class="reading-time">{% include reading-time.html %}</span>
    <div class="post-content-blog noselect">
      <div class="content-spacing">
        {{ content }}
      </div>
      {% include share-buttons.html %}
      <div class="post-navigation-bottom">
        <p>
          {% if page.previous.url %}
            <a href="{{ page.previous.url }}" aria-label="Previous post: {{ page.previous.title }}">
              &laquo; {{ page.previous.title }}
            </a>
          {% endif %}
        </p>
        <p>
          {% if page.next.url %}
            <a href="{{ page.next.url }}" aria-label="Next post: {{ page.next.title }}">
              {{ page.next.title }} &raquo;
            </a>
          {% endif %}
        </p>
      </div>
      <a href="/blog" aria-label="Back to Blogs" class="back-to-blogs">
        &larr; Back To Blogs
      </a>
    </div>
  </article>
</div>
<div class="col-md-1"></div>
<div class="col-md-3"></div>
{% include copycodebutton.html %}
{% include footer.html %}

<style>
.reading-time {
    margin-bottom: 20px; /* Adjust as needed */
    display: block; /* ensure it is on its own line */
}

.content-spacing {
    margin-top: 30px; /* Adjust as needed */
    margin-bottom: 30px; /* Adjust as needed */
}

.post-navigation-bottom {
    margin-top: 30px; /* Adjust as needed */
    margin-bottom: 20px; /* Adjust as needed */
}

.back-to-blogs {
    margin-top: 20px; /* Adjust as needed */
    display: block; /* ensure it is on its own line */
}
</style>